.App {
	display: flex;
	flex-direction: row;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
	width: 100vw;
	height: 100vh;
}



.FriendsOnline {
	color: rgba(96, 98, 102, 1);
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 0;
}



.ServerView {
	flex-grow: 2;

	display: flex;
	flex-direction: column;
}


.ActionBar {
	width: 100%;
	height: 50px;
	background-color: rgba(54, 57, 63, 1);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7);
	z-index: 10;
	display: flex;
	flex-direction: row;
}

.ActionBar > .ActionBarChannelName {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
}

.ActionBar > .ActionBarChannelName > * {
	color: white;
	margin-top: auto;
	margin-bottom: auto;
}


.ServerSettings {
	background-color: rgba(47, 49, 54, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 240px;
	height: 100%;
	transition: background-color 0.25s;
}

.ServerSettings:hover {
	background-color: rgba(42, 44, 49, 1);
	cursor: pointer;
}

.ServerSettings > p {
	margin-left: 15px;
	color: rgba(240, 240, 240, 1);
}

.ServerContainer {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex: 1;
}

.Channels {
	user-select: none;
	background: rgba(47, 49, 54, 1);
	width: 240px;
	min-width: 240;
	padding: 10px;
	flex-shrink: 0;
}

.MemberList {
	background: rgba(47, 49, 54, 1);
	width: 240px;
	min-width: 240;
	flex-shrink: 0;
}