@keyframes backgroundFadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }

  100% {
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes childrenMoveIn {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(520px, 420px);
  }
}

@keyframes childrenFadeIn {
  0% {
    opacity: 0
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: 0.20s ease-out 0s 1 backgroundFadeIn forwards;
  -webkit-animation: 0.20s ease-out 0s 1 backgroundFadeIn forwards;

  & > * {
    animation: 0.25s cubic-bezier(.15,.6,.08,1.29) 0s 1 childrenMoveIn forwards;
    -webkit-animation: 0.25s cubic-bezier(.15,.6,.08,1.29) 0s 1 childrenMoveIn forwards;
  }
}