.ServerList {
	background: rgb(32, 34, 37);
	width: 70px;
	min-width: 70px;
	max-width: 70px;
  z-index: 20;
  overflow: auto;
}

.ServerListButtonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
}

.ServerListButtonContainer > * {
	margin: 10px 10px 0 10px;
  flex-shrink: 0;
}

.Separator {
	width: 30px;
	height: 3px;
	background: rgb(47, 49, 54);
}

.CreateServerButton {
	background: transparent;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(100, 100, 100);
	transition: border-color 0.2s;
  margin-bottom: 20px;
}

.CreateServerButton:hover {
	border-color: rgb(240, 240, 240);
	cursor: pointer;
}

/* SERVER CREATION / JOINING DIALOG */

.NewServerDialog {
	background: rgb(240, 240, 240);
	width: 520px;
	height: 420px;
	z-index: 200;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.5);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	user-select: none;
}

.NewServerDialogChooseAction, .CreateServerDialog, .JoinServerDialog {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	padding-bottom: 30px;
}

.NewServerDialogChooseAction.show {
  animation: 0.20s ease-out 0s 1 showDefault forwards;
  -webkit-animation: 0.20s ease-out 0s 1 showDefault forwards;
}

.NewServerDialogChooseAction.hidden {
  animation: 0.20s ease-out 0s 1 hideDefault forwards;
  -webkit-animation: 0.20s ease-out 0s 1 hideDefault forwards;
}

.NewServerDialogTitle {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin: 10px;
}

.NewServerDialogTitle.Blue {
	color: rgb(114, 137, 218);
}

.NewServerDialogTitle.Green {
	color: #3CA374;
}

.NewServerActions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.NewServerActionCreate, .NewServerActionJoin {
	border: 1px solid rgb(0, 0, 0, 0.2);
	width: 230px;
	height: 290px;
	border-radius: 3px;
	box-shadow: 0 1px 2px 1px rgb(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	padding: 10px;
	cursor: pointer;
}

.NewServerActionTitle {
	width: 100%;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 12px;
	font-weight: 600;
}

.NewServerActionTitle.Blue {
	color: rgb(114, 137, 218);
}

.NewServerActionTitle.Green {
	color: #3CA374;
}

.NewServerActionDescription {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	line-height: 18px;
	color: rgb(0, 0, 0, 0.4);
}

.NewServerActionButton {
	border: none;
	border-radius: 3px;
	padding: 13px;
	color: white;
	font-weight: 600;
	font-size: 16px;
	margin-top: auto;
}

.NewServerActionButton.Blue {
	background: rgb(114, 137, 218);
}

.NewServerActionButton.Green {
	background: #3CA374;
}

.CreateServerDialog, .JoinServerDialog {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transform: translateX(100%);
}

.CreateServerDialog.show, .JoinServerDialog.show {
  animation: 0.20s ease-out 0s 1 showDialog forwards;
  -webkit-animation: 0.20s ease-out 0s 1 showDialog forwards;
}

.CreateServerDialog.hidden, .JoinServerDialog.hidden {
  animation: 0.20s ease-out 0s 1 hideDialog forwards;
  -webkit-animation: 0.20s ease-out 0s 1 hideDialog forwards;
}

.NewServerDialogTitleDescription {
	font-weight: 700;
	text-align: center;
	color: rgb(0, 0, 0, 0.4);
}

.InstantInviteExamples > * {
	text-align: center;
	font-size: 14px;
	color: rgb(114, 137, 218);
	font-weight: 500;
	padding: 1px;
}

.InstantInviteInputForm {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.InstantInviteInputForm > input {
	margin-top: -20px;
	margin-bottom: 3px;
	border-radius: 6px;
	padding: 20px;
	width: 100%;
	background: transparent;
	height: 25px;
	font-size: 20px;
	border-bottom: 2px solid rgb(0, 0, 0, 0.2);
	margin-left: auto;
	margin-right: auto;
	color: rgb(0, 0, 0, 0.7);
	transition: 0.2s border-bottom;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.InstantInviteInputForm > p {
	font-size: 12px;
	color: rgb(0, 0, 0, 0.5);
	font-weight: 600;
}

.InstantInviteInputForm > input:focus {
	border-bottom: 2px solid rgb(114, 137, 218);
}

.JoinNewServerSubmitDiv {
	background: rgb(0, 0, 0, 0.05);
	padding: 20px 50px 20px 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 -20px -30px -20px;
}

.JoinNewServerSubmitDiv > button {
	width: 100px;
}

.NewServerActionBackButton {
	background: none;
	font-weight: 700;
	border: 2px solid transparent;
	color: rgb(0, 0, 0, 0.4);
	font-size: 16px;
	transition: 0.2s border;
}

.NewServerActionBackButton:hover {
	border-top: 2px solid transparent;
	border-bottom: 2px solid rgb(0, 0, 0, 0.4);
}



@keyframes showDefault {
  0% {
    transform: translateX(-100%);
}

  100% {
    transform: translateX(0);
	}
}

@keyframes hideDefault {
  0% {
    transform: translateX(0%);
	}

  100% {
    transform: translateX(-100%);
	}
}

@keyframes showDialog {
  0% {
    transform: translateX(100%);
	}

  100% {
    transform: translateX(0);
	}
}

@keyframes hideDialog {
  0% {
    transform: translateX(0%);
	}

  100% {
    transform: translateX(100%);
	}
}

