.ChannelSelector {
	color: rgb(100, 100, 100);
	display: flex;
	flex-direction: row;
	width: 100%;
	border-radius: 5px;
	padding: 3px 0 3px 10px;
}

.ChannelSelector:hover {
	background: rgb(255, 255, 255, 0.035);
	cursor: pointer;
}

.ChannelSelectorTypeIndicator {
	font-size: 21px;
	font-weight: 600;
	color: rgb(70, 70, 70);
}

.ChannelSelectorName {
	margin-left: 5px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 15px;
}